/* fonts */
@font-face {
    font-family: 'Varela Round';
    src: url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* content */
html, body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
    font-family: 'Varela Round';
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --white: #f1f1f1;
    --navy: rgb(53, 52, 56);
}

main {
    padding-top: 10vh;
    padding-bottom: 5vh;
    background-color: var(--white);
    min-height: 100vh;
    font-family: 'Varela Round';
}

/* Navbar */
nav {
    background-color: var(--navy);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Varela Round';
    font-weight: bold;
}

h2.name {
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    color: var(--navy);
}

h4 {
    font-weight: bold !important;
}

.nav-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 2rem;
    font-family: 'Varela Round';
    font-size: 1.3rem !important;
    font-weight: bolder;
}

.navbar-collapse {
    background-color: var(--navy);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 200;
}

.collapse.show .navbar-nav {
    background-color: var(--navy);
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: var(--white);
    display: block;
    text-align: center;
    width: 100%;
}

/* Intro Section */
.c-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding-bottom: 7rem;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-text {
    flex: 1;
    padding-right: 7rem;
}

.profile-image {
    flex: 1;
}

.profile-image img {
    max-width: 25rem;
    min-height: 25rem;
    object-fit: cover;
    border-radius: 25rem;
    background-color: rgb(120, 132, 155);
    box-shadow: 20px 20px 0px 5px rgb(244, 248, 255);
}

@media (max-width: 800px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
        transition: smooth;
    }

    .about-text,
    .profile-image {
        padding-right: 0;
        text-align: center;
    }

    .profile-image img {
        max-width: 80%;
        margin-bottom: 2rem;
    }
}

.center {
    text-align: right;
}

.about-me {
    width: 100vw;
    background-color: rgb(52, 47, 62);
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

/* scrollbar */
::-webkit-scrollbar {
    height: 0px; /* height of total scrollbar */
    width: 0px; /* width of total scrollbar */
    background: #ffc99c; /* background of scrollbar */
    border: 0px solid #000; /* border around whole scrollbar */
}
