/* fonts */
@font-face {
    font-family: 'Varela Round';
    src: url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* content */
html, body {
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--white);
    font-family: 'Varela Round';
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    --white: #f1f1f1;
    --navy: rgb(53, 52, 56);
}

header {
    padding-bottom: 5rem;
}

main {
    background-color: var(--white);
    min-height: 100vh;
    font-family: 'Varela Round';
}

.darkmode {
    background-color: rgb(28, 28, 28) !important;
    color: var(--white) !important;
    transition: all 0.2s ease-in-out;
}

/* Navbar */
nav {
    background-color: var(--navy);
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Varela Round';
    font-weight: bold;
}

h1.name {
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    color: var(--navy);
    font-weight: bolder;
}

h4 {
    font-weight: bold !important;
}

/* Nav Links */

.nav-content {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 2rem;
    font-family: 'Varela Round';
    font-size: 1.3rem !important;
    font-weight: bolder;
}

.navbar-collapse {
    background-color: var(--navy);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 200;
}

.collapse.show .navbar-nav {
    background-color: var(--navy);
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: var(--white);
    display: block;
    text-align: center;
    width: 100% !important;
}

.navbar-toggler {
    border-color: white !important;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="white" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E') !important;
}

/* Intro Section */
.c-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding-bottom: 7rem;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.about-text {
    flex: 1;
    padding-right: 7rem;
}

.profile-image {
    flex: 1;
}

.profile-image img {
    max-width: 25rem;
    min-height: 25rem;
    object-fit: cover;
    border-radius: 25rem;
    background-color: rgb(190, 198, 211);
    box-shadow: 20px 20px 0px 5px rgb(244, 248, 255);
}

@media (max-width: 800px) {
    .d-flex {
        flex-direction: column;
        align-items: center;
        transition: smooth;
    }

    .about-text,
    .profile-image {
        padding-right: 0;
        text-align: center;
    }

    .profile-image img {
        max-width: 80%;
        margin-bottom: 2rem;
    }
}

.center {
    text-align: right;
}

/* Main container styles */
.about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    background-color: rgb(52, 47, 62);
    color: white;
    padding: 7rem 5rem;
    font-size: 1.2rem;
    cursor: url('../images/cursor.png'), auto;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 5px;
}

.alt-text {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the image */
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.alt-text::after {
    content: '';
    position: absolute;
    top: 100%; /* Arrow pointing down */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.image-container:hover .alt-text {
    visibility: visible;
    opacity: 1;
}

/* Left section styles */
.div1 {
    flex: 3;
    padding: 1rem;
}

/* Right section styles */
.div2 {
    flex: 1;
    padding: 1rem;
}

/* Responsive design */
@media (max-width: 800px) {
    .about-me {
        flex-direction: column;
        align-items: center;
    }

    .div1,
    .div2 {
        flex: unset;
        width: 100%;
        padding: 1rem 0;
    }
}

/* Projects */
.projects {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: var(--navy);
}

/* Contact Form */
.contact {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: white;
    background-color: var(--navy);
}

.resizable {
    resize: vertical;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

footer h6 {
    margin-bottom: 1rem;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}

/* scrollbar */
::-webkit-scrollbar {
    height: 0px; /* height of total scrollbar */
    width: 0px; /* width of total scrollbar */
    background: #ffc99c; /* background of scrollbar */
    border: 0px solid #000; /* border around whole scrollbar */
}
